.explanation {
  display: flex;
  flex-direction: column;
  gap: 19px;

  pointer-events: none;
}

.explanation-text {
  margin: 0px;

  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  color: black;

  user-select: none;
  -webkit-user-select: none;

  pointer-events: none;
}
