@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.export-form {
  position: absolute;
  left: 107px;
  top: 77px;

  width: 334px;
  height: 496px;

  background-color: black;

  border: 1px solid #cacae4;

  border-radius: 10px;

  padding: 29px 33px 50px 35px;
}

.title {
  margin: 0px;

  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 700;
  font-style: normal;
  color: white;

  user-select: none;
  -webkit-user-select: none;

  pointer-events: none;
}

.content-container {
  margin: 27px 0px 0px 24px;

  display: flex;
  flex-direction: column;
  align-items: start;

  pointer-events: none;
}

.text {
  margin: 0px;

  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  color: white;

  user-select: none;
  -webkit-user-select: none;

  pointer-events: none;
}

.text-input {
  border: none;
  border-radius: 2px;

  outline: none;

  width: 83px;

  padding: 3px 6px;

  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  color: black;

  pointer-events: auto;
}

.text-input:focus {
  outline: none;
}

.text-input-field {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  color: white;

  user-select: none;
  -webkit-user-select: none;

  cursor: text;

  pointer-events: auto;
}

.close-button {
  position: absolute;
  top: 13px;
  right: 17px;

  margin: 0px;

  border: none;
  outline: none;

  padding: 3px 12px;
  border-radius: 3px;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  color: #e0e066;

  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;

  pointer-events: auto;

  background-color: transparent;
}

.close-button:hover {
  background-color: #34342e;
}

.close-button:active {
  background-color: #45453e;
}
